.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
  width: 500px;

}
.form.card {
  width: 100%;
  max-width: 700px;
  margin-bottom: 320px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #f27a1a;
	box-shadow: 0 0 5px #f27a1a;
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-top: 30px !important;
}
.login{
  margin-top: -20px;
  margin-bottom: 20px;
}

.text {
  color: #f27a1a;
  font-size: 48px;
  font-weight: 700;
  padding-right: 8px;
  margin-bottom: 25px;
}

.underline {
  width: 150px;
  height: 6px;
  border-radius: 9px;
  margin-top: 5px;
  margin-bottom: 55px !important;
  flex-direction: column;
  cursor: pointer;
  margin-left: -5px !important;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  

}

.signup-button{
    margin-left: 5px;
    color: blue ;
    text-decoration: none;
    cursor: pointer;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 68px;
  background: #eeeded;
  border-radius: 6px;
}

.icon-password {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}
.icon-email {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}

.icon-user {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  margin-bottom: 10px;
}

.forget-password {
  margin-left: -190px;
  margin-top: 20px;
  color: black;
  font-size: 15px !important;
}

.forget-password.link {
  color: #f27a1a;
  cursor: pointer;
}

.invalid-feedback {
  display: block !important;
  margin-top: -10px !important;
}

.forget-password {
  text-align: left;
  margin-top: -5px;
  margin-left: -170px;
  margin-bottom: 50px;
}
.submit-button{
  background-color: #f27a1a !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px; 
  
}