/* Reset */
* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
  }
  
  /* Main Styling */
  html,body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
  }
  
  a {
	color: #333;
	text-decoration: none;
  }
  
  h1, h2, h3 {
	padding-bottom: 20px;
  }
  
  p {
	margin: 10px 0;
  }
  
  /* Utility Classes */
  .container {
	margin: auto;
	/* max-width: 1100px; */
	overflow: auto;
	padding: 0 20px;
	display: flex;
    justify-content: space-between;
  }
  
  .lead {
	font-size: 20px;
  }
  
  .btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #333;
	padding: 13px 20px;
	border: none;
	cursor: pointer;
  }
  
  .btn:hover {
	background: #f7c08a;
	color: #333;
  }
  
  .btn-light {
	background: #f4f4f4;
	color: #333;
  }
  
  .bg-dark {
	background: #333;
	color: #fff;
  }
  
  .bg-light {
	background: #f4f4f4;
	color: #333;
  }
  
  .bg-primary {
	background: #f7c08a;
	color: #333;
  }
  
  .clr {
	clear: both;
  }
  
  .l-heading {
	font-size: 40px;
	line-height: 1.2;
  }
  
  /* Padding */
  .py-1 { padding: 10px 0; }
  .py-2 { padding: 20px 0; }
  .py-3 { padding: 30px 0; }
  
  
  /* Showcase */
  #showcase {
	background: url("") no-repeat center center/cover;
	height: 600px;
	width: 100%;
  }
  
  #showcase .showcase-content {
	color: #fff;
	text-align: center;
	padding-top: 170px;
  }
  
  #showcase .showcase-content h1 {
	font-size: 60px;
	line-height: 1.2em;
  }
  
  #showcase .showcase-content p {
	padding-bottom: 20px;
	line-height: 1.7em;
  }
  
  /* Home Info */
  #home-info {
	height: 450px;
  }
  
  #home-info .info-img {
	float: left;
	width: 50%;
	background: url() no-repeat;
	min-height: 100%;
  }
  
  #home-info .info-content {
	float: right;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;
  }
  
  #home-info .info-content p {
	padding-bottom: 30px;
  }
  
  /* Features */
  .box {
	float: left;
	width: 33.3%;
	padding: 50px;
	text-align:center;
  }
  
  .box i {
	margin-bottom: 10px;
  }
  
