.custom-form {
  background-color: rgb(185, 180, 180);
  border-radius: 10px; /* Adjust the border-radius as needed */
  padding: 50px; /* Adjust the padding as needed */
  border: 1px solid #fff; /* Optional: add a white border for better visibility */
}