.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 700px !important;
  align-items: center;
  justify-content: center;
  width: 500px;

}
.form.card {
  width: 100%;
  max-width: 700px;
  margin-bottom: 320px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #f27a1a;
	box-shadow: 0 0 5px #f27a1a;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-top: 50px !important;
}
.login{
  margin-top: -20px;
  margin-bottom: 10px;
}

.text {
  color: #f27a1a;
  font-size: 48px;
  font-weight: 700;
  padding-right: 8px;
}

.underline {
  width: 61px;
  height: 6px;
  background: #f27a1a;
  border-radius: 9px;
  margin-top: 5px;
  margin-bottom: 55px;
  flex-direction: column;
  cursor: pointer;
  margin-left: -5px !important;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  

}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 68px;
  background: #eeeded;
  border-radius: 6px;
}

.icon-password {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}
.icon-email {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}

.icon-user {
  margin: 0px 30px;
  font-size: 30px;
  color: #f27a1a;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  margin-bottom: 10px;
}

.forget-password {
  margin-left: 10px;
  margin-top: 20px;
  color: black;
  font-size: 15px !important;
}

.forget-password.link {
  
  color: #f27a1a;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;

  align-items: flex-end; 
  width: 80%;
  
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 59px;
  color: #ffffff;
  background: #f27a1a;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  margin: 50px;
  border: hidden;
}

.login{
 display: flex;
 align-items: center;
 justify-content: center;

}
.login .login-button{
  margin-left: 5px;
  color: #f27a1a ;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.invalid-feedback {
  display: block !important;
  margin-top: -10px !important;
}

.submit-button {
  width: 150px;
  height: 50px;
  background-color:#f27a1a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.submit-button:hover {
  background-color: #f27a1a;
}

.submit-button.loading {
  cursor: not-allowed;
  background-color: #6c757d;
}

.selection.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection.row .col {
  flex: 1;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.forget-password {
  text-align: left;
  margin-top: -15px;
  margin-right: 85px;
}

.remember-me {
  text-align: right;
  margin-top: 5px;
  margin-top: -18px;
}