.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin: 50px auto;
	width: 80%; 
	max-width: 800px;
	flex-wrap: wrap; 
}

.search-bar label {
	display: flex;
	flex-direction: column;
	align-items: start;
	flex: 1 1 200px; 
}

.search-bar input,
.search-bar button {
	padding: 10px;
	font-size: 1em;
	width: 100%;
}

.search-bar button {
	flex: 0 0 auto; 
	background-color:  #333;
	color: white;
	border: none;
	cursor: pointer;
}

.search-bar button:hover {
	background-color: #424343;
}

.form-input {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
}

.form-input[type="date"] {
	background: #fff;
}

.form-input:focus {
	border-color: #007BFF;
	outline: none;
}

.form-input-dropdown{
	width: 256px;
	padding: 11px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	height: 46px;

}
.form-input option[disabled] {
	color: #999; 
  }