.filter-panel {
	background-color: #f6e2e2;
	padding: 15px;
	border-radius: 5px;
	height: 1000px;
	margin-top: 58px;
}

.filter-panel .filter-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.filter-panel .filter-range-inputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.filter-panel input[type="number"] {
	width: 45%;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.filter-panel button {
	padding: 5px 10px;
	font-size: 18px;
	background-color: #f44336;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}