.selected-date {
  border: 1px solid  #333;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:#333;
  flex-direction: column;
	border: 1px solid #131313;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: #333;
	flex-direction: column;	
	color: aliceblue;
}