 
  #navbar {
	background: #333;
	color: #fff;
	overflow: visible;
	width: '100%';
	padding-right: 310px;
	padding-left: 250px;

  }
  
  #navbar a {
	color: #fff;
	padding: 0 10px;
  }
  

  #navbar .menu{
	display: flex;
	align-items: flex-end;
	position: relative;
  }

  #navbar .menu-link{
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	font-size: x-large;
  }

  #navbar .menu-link a{
	text-decoration: none;
	color: #f27a1a
  }

  
  #navbar .logo {
	display: flex;
	align-items: center;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 0;
	color: #f27a1a;
  }

  
  #navbar ul {
	list-style: none;
	float: right;
  } 
  
 #navbar ul li {
	float: left;
  }
  
  #navbar ul li a {
	display: block;
	text-align: center;
  }
  
  #navbar .menu-link:hover, 
  #navbar .menu-link.current {
	/* background: #444; */
	color: #f7c08a;
  }

  @media (max-width: 1200px) {
	
	#navbar {
		width: 100%;
	  padding-right: 20px;
	  padding-left: 20px;
	}
  
	
	#navbar .menu-link {
	  font-size: large;
	}
  
	
	#navbar .logo {
	  font-size: 30px;
	}
  
	#navbar ul {
	  float: none;
	  text-align: center;
	}
  
	/* Ekran genişliği 768px'den küçük olduğunda navbar'ın listesindeki her bir öğeyi blok olarak görüntüler (yani, her bir öğe kendi satırında görünür) */
	#navbar ul li {
	  display: block;
	}
  }