.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.title-forget{
    font-weight: 600;
    font-size: 30px;
    color: #f27a1a;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.email-card{
    width: 100%;
    max-width: 600px;
    margin-top: 40px !important;
    margin-bottom: 200px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #f27a1a;
    box-shadow: 0 0 5px #f27a1a;
    background-color: rgb(255, 255, 255);
   
}
.input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  margin-bottom: 10px;
  background-color: rgb(227, 225, 225);
  margin-top: 20px;
}
.button{
  background-color: #f27a1a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px !important;
  margin-top: 30px !important;
  width: 150px;
}

.button:active{
  background-color: #f27a1a;
}

.loading{
  cursor: not-allowed;
  opacity: 0.7; 
}