.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 150px;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.title-reset{

  margin-top: 25px ;
    font-weight: 600;
    font-size: 30px;
    color: #f27a1a;
}
.email-card{
    width: 700px;
    height: 500px ;
    margin-bottom: 400px;
    margin-top: 70px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #f27a1a;
    box-shadow: 0 0 5px #f27a1a;
    background-color: rgb(255, 255, 255);
   
}

.input-title{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 50px;
  margin-top: 5px;
  
}

.input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  margin-bottom: 20px;
  background-color: rgb(227, 225, 225);
  margin-top: 10px;
}
.button{
  background-color: #f27a1a;
  color: white;
  padding: 10px 20px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 50px; 
  width: 200px
}

.error-message{
  font-size: 15px;
}