.home-page {
	font-family: Arial, sans-serif;
  }
  
  .home-header {
	display: flex;
	flex-direction: column;
	color: white;
  }
  
  .header-text{
	text-align: center;
	z-index: 2;
	padding: 0 0 20px 0;
	position: absolute;
	width: 50%;
	margin: 0 auto;
	top: 40%;
	left: 25%
  }

  .home-header .image-header{
	display: flex;
	object-fit: cover; 
	position: relative;
	z-index: 1;
  }
  
  .home-header h1 {
	font-size: 50px;
  	line-height: 1.2em;
	background-position: center bottom;
	margin-top: -150px;
  }


  .lead {
	font-size: 20px;
  }
  
  .home-header p {
	font-size: 1.2em;
  }
  
  .cta-button {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 1em;
	color: white;
	background-color:  #f44336;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .home-section {
	padding: 40px 20px;
	text-align: center;
  }
  
  .features {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
  }
  
  .feature {
	width: 30%;
	border: 2px solid #e99595;
	border-radius: 5px;
	padding: 15px;
	box-shadow:20px 20px 15px -5px #b39588;
  }
  
  
  .home-footer {
	background-color: #f8f9fa;
	padding: 20px 0;
	text-align: center;
  }

  .text-abc {
	color: #154c79;
	font-size: small;
  }


  .header-colored-text {
	font-family: "Poppins", sans-serif;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	-webkit-text-stroke-width: 1px; 
	-webkit-text-stroke-color: #b1b1b1;
	animation: blinking 2s 1;
	/* text-shadow: 3px 3px 6px #fbfb7e; */
  }
  
  /* .header-colored-text::after {
	content: attr(data-text);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	filter: blur(7px);
	z-index: -1;
  } */
  
  /* .header-colored-text::before {
	content: "";
	position: absolute;
	top: 21%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
	background-color: #fbfb7e;
	filter: blur(70px);
	opacity: .5;
  }
   */
  